<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{{ page.title | default: site.title }}</title>
  <meta name="description" content="{{ page.description | default: site.description }}">
  <meta name="google-site-verification" content="AVV7BLeSgNbVdsZUDCVkNBj-AV6MBYuvB4y7_TTx6yM" />
  <link rel="stylesheet" href="/assets/css/style.css">
  {% seo %}
</head>
<body>
  <main>
    {{ content }}
  </main>
</body>
</html>
